.projects {
  position: relative;
  padding-top: 90px;
  min-height: 85vh;
  background-color: #262626;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 20px;
  color: white;
}

.container h2 {
  margin: 0 auto 60px auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-gap: 150px;
  row-gap: 40px;
}
