.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  min-height: 90vh;
  padding: 20px;
  color: white;
}

.container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.container p {
  white-space: break-spaces;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.container h4 {
  font-size: 1.25em;
  margin-top: 0;
}

.container h3 {
  color: yellow;
}

.button {
  margin-top: 20px;
  background-color: yellow;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 180px;
  padding: 15px;
  border-radius: 20px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px #f6f200;
}

.info a {
  text-decoration: none;
}

.description {
  max-width: 500px;
}

@media screen and (max-width: 940px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }

  .container img {
    width: 300px;
    height: 300px;
  }
}
