.technologies {
  position: relative;
  padding: 90px;
  min-height: 80vh;
  background-color: #262626;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  color: white;
}

.container h2 {
  margin: 0 auto 80px auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-gap: 150px;
  row-gap: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 530px) {
  .items {
    grid-column-gap: 100px;
  }

  .technologies {
    padding-left: 10px;
    padding-right: 10px;
  }
}
