.container {
  margin-left: auto;
  width: 100%;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container input,
.container textarea {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #c4c4c4;
  background-color: #262626;
  box-shadow: 0 0.8rem 0.4rem rgba(51, 51, 51, 0.25);
  border-radius: 10px;
  border: 1px solid #fcfcfc;
  padding: 10px 20px 10px 20px;
  resize: vertical;
}

.container input:focus,
.container textarea:focus {
  outline: 1px solid yellow;
}

.container button {
  height: 3.8rem;
  width: 10.7rem;
  background: yellow;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: #303030;
  border: none;
}

.container button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px #f6f200;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 80%;
    margin-right: auto;
  }
}
