.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button img {
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: yellow;
  border-radius: 50%;
}

.button a {
  text-decoration: none;
  color: white;
}

.button a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {
  .container {
    width: auto;
  }
}
