.nav {
  position: fixed;
  top: 0;
  background-color: rgba(33, 33, 33, 0.7);
  width: 100%;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 10px;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.buttons {
  color: white;
  display: flex;
  gap: 40px;
}

.item a {
  text-decoration: none;
  color: white;
}

.item ::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: white;
  transition: 0.3s;
}

.item:hover ::after {
  width: 100%;
}

@media screen and (max-width: 760px) {
  .buttons {
    display: none;
  }
}
